/*style.css
author [your name]
date [enter date]
A style sheet for index-css.html
*/

#person {
	float : left;
	width: 40%;
	margin: 10px;
}
#trip {
	float : left;
	width: 40%;
	margin: 10px;
}

 	
.chkbox {
	clear: left;
	float: left;
	}
#bottom {
	clear: both
	}
	
nav,  article {
	max-width: 60em;
	}
article {
 min-width: 20em;
 }
	 
		